[Unit]
Description=Zigbee2MQTT
After=network.target

[Service]
ExecStart=/home/justas/automation/node_modules/.bin/zigbee2mqtt
WorkingDirectory=/home/srvc/automation
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=60s
User=justas

[Install]
WantedBy=multi-user.target